.showAllUsersMain{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px ;

}
.showAllUsersMain .showAllUsers {
    min-width: 300px; 
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 20px hsla(0, 0%, 55%, 0.584);
    padding: 10px;
}
.showAllUsers >div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 2px hsla(0, 0%, 55%, 0.584);
    border: 1px solid hsla(0, 0%, 50%, 0.525);
    padding: 10px;
    border-radius: 5px;

}
.showAllUsers div >div{
    font-size: 1.4rem;
    font-weight:500;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;

}
.showAllUsers div i{
    background-color: hsl(216, 100%, 89%);
    color: hsl(209, 100%, 37%);
    position: relative;
    z-index: 0;
}
.showAllUsers div i svg {
    position:  relative;
    z-index: 0;
}

.showAllUsers div i:hover{
    background-color: hsl(211, 30%, 84%);
    cursor: pointer;
} 
.ppOfFriends {
    height: 3rem;
    width: auto;
    border-radius: 50%;
}
.ppOfFriends:hover{
    cursor: pointer;
}
.allUsersheader{
    padding: 20px 0;
    text-align: center;
}