.newAccBtn{
    background-color: hsl(0, 0%, 100%);
    height: 100%; 
    width: 80%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid hsl(208, 100%, 20%);
    color: rgb(1, 1, 1);
    text-decoration: none;
    text-align: center;
}

.newAccBtn:hover{
    background-color: hsla(208, 100%, 40%, 0.1);
}