.mainContainerMSG{
    display: flex;
    height: 90vh;
}

.friendsDisplay{
    width:20%;
    height: 100%;
    box-shadow: 1px 1px 2px hsla(0, 0%, 55%, 0.584) ;

}
.friendsDisplay ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 10px ;
    max-height: 100%;
    overflow-y: auto;
}
.friendsDisplay ul li{
    width: 100%;
    box-shadow: 1px 1px 2px hsla(0, 0%, 55%, 0.584);
    border: 1px solid rgba(199, 199, 199, 0.822);
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    gap: 20px;
}
.friendsDisplay ul li:hover{
    cursor: pointer;
    background-color: hsl(0, 0%, 97%);
}
.friendsDisplay ul li.active{
    background-color: hsla(200, 100%, 91%, 0.203);
    border-bottom: 3px solid  rgb(44, 139, 255);
}
.friendsDisplay li img{
    height: 3rem;
    width: auto;
    border-radius: 50%;
}
.chatBoxMainContainer{
    width: 80%; 
    height: 100%;
    background-color: #a7bdbd1e;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chatBoxMain{
    width: 80%;
    max-width: 600px;
    height: 90%;
    background-color: white;
    box-shadow: 1px 1px 5px hsla(0, 0%, 55%, 0.584);
    border-radius: 10px;
    overflow: hidden;
}
.chatBoxMain .chatBoxTop{
    height: 10%;
    padding: 10px;
    box-shadow: 1px 1px 2px 0  grey;
    display: flex;
    align-items: center;
    gap: 20px;
}
.chatBoxTop img{
    height: 120%;
    width: auto;
    border-radius: 50%;
}
.chatBoxMain .chatBoxRest{
    padding: 30px 10px;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;

}

.chatBoxRest >div{
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    overflow-wrap:break-word;
}


.myMessageWrapper,
.friendMessageWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;  
}


.timeStampMessage {
    width: 100%;
    font-size: 0.75rem;
    color: rgba(0,0,0,0.6);
    opacity: 0.9;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.myMessageWrapper .timeStampMessage {
    text-align: right;
    justify-content: flex-end;
    padding-right: 20px;
}

.friendMessageWrapper .timeStampMessage {
    text-align: left;
    justify-content: flex-start;
    padding-left: 6px;
}

.bubble {
    display: inline-block;
    width: fit-content;     
    max-width: 70%;         
    padding: 10px 12px;
    font-size: 1rem;
    word-wrap: break-word;
    }


.myMessage {
    background-color: hsl(214, 89%, 55%);
    color: white;
    border-radius: 10px 10px 0 10px;
    align-self: flex-end;   
}

.friendMessage {
    background-color: hsla(0, 0%, 84%, 0.646);
    border-radius: 10px 10px 10px 0;
    align-self: flex-start; 
}

.chatBoxMain .chatBoxInput{
    height: 10%;
    padding: 5px 0;
    border-top: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chatBoxInput form{
    height: 100%;
    width: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;

}
.chatBoxInput input{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: hsl(0, 4%, 95%);
    border: 1px solid grey;
    padding: 0 10px;

}
.chatBoxInput .sendBtn {
    height: 100%;
    border:none;
    background-color:white;
    color: rgb(89, 98, 104);
}
.chatBoxInput .sendBtn:hover{
    cursor: pointer;
}
.chatBoxInput input:focus{
    outline: none;
}
.backIcon{
    display: none;
}
.backIcon:hover{
    cursor: pointer;
}
.closeSide:hover{
    cursor: pointer;
}
.friendsDisplaymobile{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 999;
}
.friendsDisplaymobile .middleMan{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.306);
    backdrop-filter: blur(5px);
    
}
.friendsDisplaymobile .friendsDisplay{
    background-color: white;
    width: clamp(250px,50%,400px);
    position: relative;
    transition: left 1s ease;
    animation: slideIn 0.4s ease forwards;

}
@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
.headerDisFriends{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.headerDisFriends i:hover{ 
    cursor: pointer;
}
.noPrevMessages {
    color: grey;
    text-align: center;

}
.chatBoxRest {
  padding: 30px 10px;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
}
.noFrnds{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.noFrnds >div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 1rem;
    color:grey;
}
.noFrnds > div  button {
    border: none;
    border-radius: 10px; 
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: hsl(214, 89%, 52%);
    color: hsl(0, 0%, 100%);
    gap: 10px;
    transition: all .3s ease;
}
.noFrnds button:hover{
    background-color: hsl(214, 89%, 62%);;
}

@media (max-width:700px) {

    .friendsDisplay ul li{
        display: flex;
        gap: 0;
        flex-direction: column;
    }

}

@media (max-width:400px) {
    .backIcon{
        display: block;
    }
    .friendsDisplaymobile{
        display: block;
    }
    .chatBoxMainContainer {
        width: 100%;
    }
    .chatBoxMainContainer .chatBoxMain{
        width: 95%;
        height: 95%;
        border: 1px solid lightblue;
    }
    .friendsDisplay {
        display: none;
    }
    .friendsDisplaymobile .friendsDisplay {
        display: block;

    }
    .friendsDisplaymobile ul li a{
        width: 100%;
        height: 100%;
    }
} 