.newPostContainer{
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: hsla(0, 0%, 0%, 0.308);
    backdrop-filter: blur(5px);
    padding: 50px 0;
}
.newPostContainer .newPost{
    position: absolute;
    z-index: 110;
    background-color: white;
    display: flex;
    flex-direction:column ;
    gap:auto;
    width: clamp(300px, 50%, 500px);  
    overflow-y: auto;
    padding: 10px; 
    border-radius: 5px;

    max-height: 500px;
}
.newPost button{
    border: none;
    font-weight: bold;
    padding: 10px;
    border-radius:10 ;
    background-color: hsl(207, 100%, 50%);
    transition: all .3s ease;
    border-radius: 10px;

}
.newPost button:hover{
    background-color: hsl(207, 100%, 45% );
    cursor: pointer;
}
.newPost .titleInput{
    border:none;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 10px;

}
.titleInput::placeholder{
    font-weight: normal;
}
.newPost .cancelPost{
    margin-left: auto;
    color: grey;
    transition: all .3s ease;
}
.newPost .cancelPost:hover{
    cursor: pointer;
    color: rgb(0, 0, 0);
}
.newPost .postOptions{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}
.titleInput:focus{
    outline: none;
    border: none;
}

.newPost label {    
    width: 100%;
    height: 100%;
    background-color: hsl(0, 0%, 90%);
    border-radius: 10px;
    padding: 10px 10px;
    display: flex;
    gap: 10px;
    align-items:center ;
    transition: all .3s ease;
}
.newPost label:hover{
    background-color: hsl(0, 0%, 80%);
}

.inputImages{
    display: grid;
    gap: 5px;
    width: 100%;
    grid-template-columns: repeat(2,1fr);
    margin: 10px 0;

}
.inputImages img{
    aspect-ratio: 1/1;
    width: 100%;
    object-fit: cover;
}
.inputVedio video{
    width: 100%;
}
.addPostBtn{
    background-color: #9ca9b6;
    border: 1px solid #CCCCCC;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    justify-self: center;
    transition: all .3s ease;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.addPostBtn div{
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
}
.addPostBtn:hover{
    color: white;
    background-color: hsl(211, 9%, 53%);
    translate:  0 -2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)

}